nav.navbar-custom {
    margin: auto;
    background-color: rgb(172, 191, 209);
}

div.main-body {
    margin: auto;
    background-color: rgb(46, 46, 46);
    padding-bottom: 8px;
    margin-bottom: 14px;
}

div.footer {
    margin: auto;
    background-color: rgb(78, 85, 92);
    padding: 5px 1px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

h1.main-title {
    text-align: center;
    font-size: 32px;
    color:rgb(154, 206, 255);
    font-size: 5vw;
    transition: all 250ms linear;
}

.auto-width {
    width: 95%;
    transition: all 250ms linear;
}
@media screen and (min-width: 1150px) {
    .auto-width {
        width: 80%;
    }
    h1.main-title {
        font-size: 3.5vw;
    }
}
@media screen and (min-width: 1400px) {
    .auto-width {
        width: 75%;
    }
    h1.main-title {
        font-size: 2.8vw;
    }
}






p {
    padding: 0% 6%;
}
.main-body ul {
    padding: 0% calc(6% + 20px);
}

t.paragraph-large-text {
    font-size: 20px;
}


/* stuff for the project pages */

div.project-thumbnail-container {
    text-align: center;
    width: 90%;
    margin: auto;
    transition: all 250ms linear;
}
@media screen and (min-width: 600px) {
    div.project-thumbnail-container {
        width: 70%;
    }
}
@media screen and (min-width: 850px) {
    div.project-thumbnail-container {
        width: 50%;
    }
}

img.responsive-scale {
    width: 90%;
    margin: auto;
}
/* @media screen and (min-width: 400px) {
    img.responsive-scale {
        width: 70%;
    }
}
@media screen and (min-width: 800px) {
    img.responsive-scale {
        width: 45%;
    }
} */

.embed-scale {
    width: 90%;
    margin: auto;
}

t.font-big {
    font-size: 24px;
}
t.color-blue {
    color: rgb(155, 199, 240)
}
a.download-link {
    font-size: 20px;
}