div.responsive-list {
    text-align: center;
    width: 90%;
    margin: auto;
    
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

div.responsive {
    margin: auto;
    background-color: rgb(72, 75, 78);
    text-align: left;
    border-radius: 2px;
    margin-bottom: 5px;

    max-width: 400px;
    /* flex-grow: 1 1 auto; */
}

/* @media screen and (min-width: 400px) {
    div.responsive {
        width: 49%;
    }
}

@media screen and (min-width: 900px) {
    div.responsive {
        width: 33%;
    }
} */

div.gallery img {
    width: 90%;
    height: auto;
}

div.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2% 0px;
}

div.gallery p {
    text-decoration: none;
    color: white;
}