.banner {
    background: #a770ef;
    background: -webkit-linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
    background: linear-gradient(to right, #a770ef, #cf8bf3, #fdb99b);
}

.card-img-top {
    height: 200px;
    border-radius: 6px 6px 0px 0px;
}

.gallery-item {
    height: 375px;
    display: flex;
    flex-direction: column;
}

.gallery-item > .p-4 > p {
    height: 55px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Set the number of lines before truncation */
    -webkit-box-orient: vertical;
}