body {
    background-color: #e7e7e7;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

div.separator {
    height: 50px;
}

div.profile-container {
    display: flex;
    align-items: left;
}

img.profile {
    width: 150px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

h1 {
    font-family: Kanit_Regular !important;
}
h2 {
    font-family: Kanit_Regular !important;
    color: #606060;
}
h3 {
    font-family: Kanit_Regular !important;
    color: #606060;
    font-size: 26px;
}
li {
    font-family: Kanit_Regular !important;
}

p {
    font-size: 18px;
    font-family: Kanit_Regular !important;
    color: #313131;
}



/* Images on project pages */

img.img-small {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    height: auto;
}


/* Youtube embeds */

.youtube-embed-container {
    width: 600px;
    height: 337px;
    overflow-y: auto;
    overflow-x: auto;
    resize: both;
    position: relative;
    z-index: 2;
    transition: width 0.3s ease, height 0.3s ease;
}

.youtube-embed-container > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

/* Various sizes for the youtube embeds */
@media screen and (max-width: 1000px) {
    .youtube-embed-container {
        width: 470px;
        height: 258px;
    }
}

@media screen and (max-width: 800px) {
    .youtube-embed-container {
        width: 350px;
        height: 196px;
    }
}